<div class="container">

  <div class="jumbotron">
    <h1>MLB Showdown 2016</h1>
    <p>When we're done with it, this game will be amazing.</p>
    <a class="btn btn-primary btn-lg" href="/turns/new" role="button">Play a new game</a></p>
  </div>
</div>
</body>
