<div class="container">
  <h2>All Games</h2>

  <table class="table-bordered table-striped">
    <tr>
      <th>Game Number</th>
      <th>Name</th>
      <th>Home Team</th>
      <th>Visiting Team</th>
    </tr>
    <% @game.each do |a| %>
    <tr>
      <td><%= a.id %></td>
      <td><%= a.name %></td>
      <td><%= a.home_team_user_id %></td>
      <td><%= a.visitor_team_user_id %></td>
      <% end %>
    </tr>
  </table>
</div>
