<div class="container">
<h1>Game #<%= @game.id %></h1>

<p>Name: <%= @game.name %>

<p>Home Team User ID: <%= @game.home_team_user_id %>

<p>Visiting Team User ID: <%= @game.visitor_team_user_id %>
</div>
